<div class="admin-dashboard">
    <h1>Create new job</h1>
  
    <div class="create-job-container">
      <h2>ADMIN DASHBOARD</h2>
      <i class="fa fa-sign-out-alt logout-icon"></i>
      <hr />
  
      <div class="form-container">
        <form>
          <div class="form-group">
            <label for="jobTitle">Job Title:</label>
            <input type="text" id="jobTitle" placeholder="Enter job title">
          </div>
  
          <div class="form-group">
            <label for="jobExperience">Job Experience:</label>
            <input type="text" id="jobExperience" placeholder="Enter job experience">
          </div>
  
          <div class="form-group">
            <label for="jobDescription">Job Description:</label>
            <textarea id="jobDescription" placeholder="Enter job description"></textarea>
          </div>
  
          <div class="form-group">
            <label for="jobSalary">Salary (Optional):</label>
            <input type="text" id="jobSalary" placeholder="Enter salary">
          </div>
  
          <button type="submit" class="submit-btn">Create Job</button>
        </form>
      </div>
    </div>
  </div>
  